@import "utilities/variables";

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

// btn-wra

.cta h2 {
    font-size: 64px;
    color: #333;
}

button {
    border-radius: .35em;
    font-size: 24px;
    font-weight: 600;
    border: none;
    padding: .8em 1em;
    margin: 1em 2em;
    transition: box-shadow .3s;
}

.button-primary {
    background-color: $color-primary;
    box-shadow: 0 2px 4px rgba(mix($color-primary, $color-shade, 20%), .2);
    color: #FFF
}

.button-primary:hover {
    box-shadow: 0 3px 8px rgba(mix($color-primary, $color-shade, 20%), .4);
}

.button-secondary {
    color: $color-primary;
    box-shadow: 0 2px 4px rgba(mix($color-primary, $color-tone, 10%), .1);
}

.button-secondary:hover {
    box-shadow: 0 3px 8px rgba(mix($color-primary, $color-tone, 10%), .4);
}

.button-primary:active, .button-secondary:active {
    box-shadow: none;
}