section {
    background-color: green;
    margin: 0;
    padding: 4em 2em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: pink;
    min-height: 20em;
    max-width: 1200px;
    width: 100%;
}