@import "utilities/variables";

.testimonial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #FAFBFB;
    // background-color: mix($color-primary, $color-tint, 4%);
    // background-color: mix($color-primary, $color-tone, 4%);
    border-radius: .5em;
    padding: 1.5em;
}

.testimonial-thumbnail {
    /* width: 10em;
    height: 10em; */
    width: 164px;
    height: 164px;
    border-radius: .5em;
    background-color: #FFF;
    /* border: 1px solid black; */
    box-shadow: 1px 2px 12px #EEE;
    // box-shadow: 1px 2px 12px rgba(mix($color-primary, $color-tone, 25%), .1);
    margin: 2em;
    margin-right: 4em;
}

.quote {
    font-size: 24px;
    font-weight: 600;
    max-width: 600px;
}

.content-form .quote {
    font-size: 24px;
    // margin-right: 3em;
    // max-width: 600px;
    // width: 100%;
    width: 600px;
    min-height: 140px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    border: 1px solid transparent;
}

.quote-name {
    color: #444;
    font-size: 24px;
}

.content-form input.quote-name {
    border: 1px solid transparent;
    width: 100%;
}